In [ ]:
    #           TOPIC :BASIC PYHTON VARIABLE

In [59]:
#Declare two variables, `x` and `y`, and assign them integer values.
#Swap the values of these variables without using any temporary
#variable.

In [60]:
x =5

In [61]:
type(x)

int

In [62]:
# this prove that the value that I assign integer value in x

In [63]:
y=8

In [64]:
type(y)

int

In [65]:
# this prove that the value that I assign integer value in y.

In [66]:
print("before swapping x",x,"before swapping",y)

before swapping x 5 before swapping 8

In [67]:
# according to question till now i have assign a integer value in x and y Now i'm doing swapping. SWAP

In [68]:
x = x + y

In [69]:
y = x - y

In [70]:
x =x - y

In [71]:
print("After swapping value of x:",x,"and value of y:",y)

After swapping value of x: 8 and value of y: 5

In [29]:
# we have to declare value of x and y after that i use type function to konw data type of value .after that i proceed to swapping  here in 1 x assiging 13 
# andy=5 and after x 8 so after performming this operation swapping condition satisfied so now we can print swapped value of x and y.

In [72]:
"""Q2. Create a program that calculates the area of a rectangle. Take the
length and width as inputs from the user and store them in variables.
Calculate and display the area."""

'Q2. Create a program that calculates the area of a rectangle. Take the\nlength and width as inputs from the user and store them in variables.\nCalculate and display the area.'

In [77]:
length =input("Enter a value of length:")

Enter a value of length: 5

In [76]:
breadth=input("Enter a value of breadth:")

Enter a value of breadth: 8

In [86]:
length =int(length)     #here i do typecasting because type error can't multiply sequence by non-int of type 'str'

In [87]:
type(length)

int

In [88]:
breadth=int(breadth)

In [89]:
type(breadth)           #here i do typecasting because type error can't multiply sequence by non-int of type 'str'

int

In [90]:
area=length * breadth

In [91]:
print("Area of reactangle:",area)

Area of reactangle: 40

In [30]:
# a/c here we take input from user but in input case we get value in string format so we need to do typecaste of both lenght and breadth into int 
# data type then apply formula of area of rectangle then print the area.

In [92]:
"""Q3.Write a Python program that converts temperature from Celsius to
Fahrenheit. Take the temperature in Celsius as input, store it in a
variable, convert it to Fahrenheit, and display the result."""

'Q3.Write a Python program that converts temperature from Celsius to\nFahrenheit. Take the temperature in Celsius as input, store it in a\nvariable, convert it to Fahrenheit, and display the result.'

In [93]:
celsius =input("Enter a value of celsius")

Enter a value of celsius 33

In [94]:
celsius=float(celsius)

In [95]:
celsius

33.0

In [97]:
fahrenheit = (celsius * 9/5) + 32

In [100]:
print("after converting celsius to frahrenheit ",fahrenheit)

after converting celsius to frahrenheit  91.4

In [101]:
# i take input of celsius from user and typecast celsius into float because temperture can in decimal then i use converting formula and after converting then i display the result

In [102]:
                           # TOPIC: QUESTION BASED ON STRING

In [118]:
""" Q1. Write a Python program that takes a string as input and prints thelength of the string."""

' Q1. Write a Python program that takes a string as input and prints thelength of the string.'

In [110]:
a=str(input("enter a string value"))

enter a string value siddhartha roy

In [113]:
type(a)     # this assure me that the input is in string

str

In [115]:
len(a)    # here is  the length of string.

14

In [117]:
# here i take input as in question given that we have to take inout in string so i use string before input by using type(a) it is get assurity that it is string
#after that i display the length so use lenght function len().

In [119]:
""" Q2. Create a program that takes a sentence from the user and counts the
number of vowels (a, e, i, o, u) in the string."""

' Q2. Create a program that takes a sentence from the user and counts the\nnumber of vowels (a, e, i, o, u) in the string.'

In [140]:
s =input("enter a sentence:")

enter a sentence: SiDDhartha EYe colour is orange

In [141]:
s=s.lower()

In [142]:
vowel_count=0

In [143]:
vowel="aeiou"

In [146]:
for char in s:
    if char in vowel:
        vowel_count += 1

In [147]:
print("Number of vowels in the sentence:", vowel_count)

Number of vowels in the sentence: 12

In [148]:
# take input of sentence and then covert into lower case beacuse vowel in lower case or we can use both (A a) this way in which we did'nt need to covert sentence into lowercase.
# we initalize vowel count to keep record of no. of vowel and vowel for telling about  vowel aeiou.then i use loop to increase vowel count after all them i print number of vowel

In [149]:
'''Q3.Given a string, reverse the order of characters using string slicing and
print the reversed string.'''

'Q3.Given a string, reverse the order of characters using string slicing and\nprint the reversed string.'

In [150]:
s1="siddhartha"

In [157]:
reverse=s1[::-1]

In [158]:
print("the reverse of given string:",reverse)

the reverse of given string: ahtrahddis

In [159]:
# s1 is string taken by me after that this s1[::-1] slice notation starts from the  and goes backward and this reverse the order of s1.then i store the reverse character into 
#reverse variable then print it.

In [20]:
# Q4 .Write a program that takes a string as input and checks if it is a palindrome (reads the same forwards and backwards).

In [15]:
s2=input("Enter a string")

Enter a string malayalam

In [16]:
reverse= s2[::-1]

In [17]:
#checking wheather the given string is palindrome or not.

In [18]:
if s2 == reverse :
    print("the given string is palindrome")
else:
    print("the given string is not palindrome")

the given string is palindrome

In [19]:
#i input from user and then reverse string with slicing and then compare with if statement if it satisfy then print it is palindrome otherwise not palindrome.

In [22]:
# Q5. Create a program that takes a string as input and removes all the spaces from it. Print the modified string without spaces.

In [23]:
string =input("enter a string")

enter a string p      w s   ki  l     l     s

In [25]:
changed_string =string.replace(" ","")

In [27]:
print("printing string without space:",changed_string)

printing string without space: pwskills

In [28]:
# here we take a string input from user then we use replace() function in 1 argument " " this specifiy space character and empty string
# 2 nd argument are used to remove all space  then changed_string is with no space now finally we can print this .

In [31]:
                                    #  END     ........................................